<%
  #admin_users/index/_content
#brief,back
%>
<table class="table">
  <tbody>
    <tr>
      <th>名称</th>
      <th></th>
    </tr>
    <%n=1
    admin_users.each do |e|%>
      <tr class="<%=['odd','even'][(n+=1)%2]%>">
        <td>
          <%= e.name  %>
        </td>
        <td class="last">
          <%= link_to '显示', e %>
          |
          <%= link_to '修改', edit_admin_user_path(e) %>
          |
          <%= link_to '删除', e, confirm: '确定删除该用户吗?', method: :delete %>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
<%= link_to '新建管理员', new_admin_user_path %>

