<%
  #vendor_solutions/items/_index
#locals=>solution,total
%>
<table class="table">
  <tbody>
    <tr>
      <th></th>
      <th>名称</th>
      <th>数量</th>
      <th>说明</th>
      <th>单价</th>
      <th>合计</th>
      <th></th>
    </tr>
    <%designs=solution.designs%>
    <%=render 'vendor_solutions/items/kind',
      :solution=>solution,
      :items=>designs,
      :kind_cn=>'设计' unless designs.empty?
    %>
    <%products=solution.products%>
    <%=render 'vendor_solutions/items/kind',
      :solution=>solution,
      :items=>products,
      :kind_cn=>'制作' unless products.empty?
    %>
    <%trans=solution.trans%>
    <%=render 'vendor_solutions/items/kind',
      :solution=>solution,
      :items=>trans,
      :kind_cn=>'运输' unless trans.empty?
    %>
    <%others=solution.others%>
    <%=render 'vendor_solutions/items/kind',
      :solution=>solution,
      :items=>others,
      :kind_cn=>'其他' unless others.empty?
    %>
  </tbody>
</table>
<%=render 'vendor_solutions/items/total',:solution=>solution,:total=>total%>
<%if solution.org_id == @cur_user.org_id%>
  <%= link_to '新建运输项', new_solution_item_path(:solution_id=>solution.id,:kind=>'tran') %>
  |
  <%= link_to '新建其他项', new_solution_item_path(:solution_id=>solution.id,:kind=>'other') %>
  |
  <%= link_to '新建运输项(多)', new_many_solution_items_path(:solution_id=>solution.id,:kind=>'tran') %>
  |
  <%= link_to '新建其他项(多)', new_many_solution_items_path(:solution_id=>solution.id,:kind=>'other') %>
  |
  <%= link_to '修改', edit_many_solution_items_path(:solution_id=>solution.id) %>
  |
  <%= link_to '报价', edit_price_many_solution_items_path(:solution_id=>solution.id) %>
  |
  <%= link_to '修改税率', edit_rate_vendor_solution_path(solution) %>
  <br/>
<%end%>
