<h1><%=@vendor.name%>方案显示</h1>
<table>
  <tr>
    <th>id</th>
    <th>名称</th>
    <th>创建者</th>
    <th>创建日期</th>
    <th>RPM</th>
  </tr>
  <tr>
    <td><%= @brief.id  %></td>
    <td><%= simple_format(@brief.name)  %></td>
    <td><%= @brief.user.name%></td>
    <td><%= short_d(@brief_vendor.created_at)%></td>
    <td><%= @brief.org.name%></td>
  </tr>
</table>
<br/>
<table>
  <caption>
    设计项
  </caption>
  <tr>
    <th>项目id</th>
    <th>id</th>
    <th>名称</th>
    <th>数量</th>
    <th>价格</th>
    <th>合计</th>
  </tr>
  <%@brief_vendor.designs.each do |e|%>
    <tr>
      <td><%= e.parent_item.brief_id  %></td>
      <td><%= e.id  %></td>
      <td><%= simple_format(e.name)  %></td>
      <td><%= simple_format(e.quantity)  %></td>
      <td><%= simple_format(e.price)  %></td>
      <td><%= e.total%></td>
    </tr>
  <%end%>
</table>
总计:<%=@brief_vendor.design_total%>
<br/>
<table>
  <caption>
    制作项
  </caption>
  <tr>
    <th>项目id</th>
    <th>id</th>
    <th>名称</th>
    <th>数量</th>
    <th>价格</th>
    <th>合计</th>
  </tr>
  <%@brief_vendor.products.each do |e|%>
    <tr>
      <td><%= e.parent_item.brief_id  %></td>
      <td><%= e.id  %></td>
      <td><%= simple_format(e.name)  %></td>
      <td><%= simple_format(e.quantity)  %></td>
      <td><%= simple_format(e.price)  %></td>
      <td><%= e.total%></td>
    </tr>
  <%end%>
</table>
总计:<%=@brief_vendor.product_total%>
<br/>
<br/>
<%=link_to '返回',cheil_show_brief_path(@brief)%>
