<%=debug params%>
<%params.each do|k,v|%>
<%=k if k=~/^vendor/%>
<%end%>
<%= form_tag do %>
  <fieldset>
    <legend>
      Please Log In
    </legend>
    <div>
      <label for="name">Name:</label>
      <%= check_box_tag :name, 'aaaa' %>
    </div>
    <div>
      <label for="password">Password:</label>
      <%= check_box_tag :password, 'bbbbb' %>
    </div>
    <div>
      <%=check_box_tag 'receive_email', 'yes', true%>
    </div>
    <div>
      <%=check_box_tag 'vendor1', '1'%>
    </div>
    <div>
      <%=check_box_tag 'vendor2', '2'%>
    </div>
    <div>
      <%= submit_tag "Login" %>
    </div>
  </fieldset>
    <% end %>