<%
  #rpm_orgs
#rpm_orgs
%>
<table class="table">
  <tbody>
    <tr>
      <th>RPM</th>
      <th>对应Cheil</th>
      <th>RPM用户</th>
      <th></th>
    </tr>

    <% @rpm_orgs.each do |r| %>
      <tr>
        <td><%= r.name %></td>
        <td><%= r.cheil_org.name %></td>
        <td> <% r.users.each  do |e| %>
            <%= link_to e.name,user_path(e) %>
          <%end%> </td>
        <td class="last">
          <%= link_to '修改', edit_rpm_org_path(r) %>
          |
          <%= link_to '删除', r, confirm: '确定删除吗?', method: :delete %>
          |
          <%= link_to '新建用户', new_user_path(:org_id=>r.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '新建RPM', new_rpm_org_path %>
