<%
  #solutions/vendor/items/_index
#locals=>solution,total
%>
<table class="table">
  <tbody>
    <tr>
      <th></th>
      <th>名称</th>
      <th>数量</th>
      <th>说明</th>
      <th>单价</th>
      <th>合计</th>
      <th></th>
    </tr>
    <%designs=solution.designs%>
    <%=render 'solutions/cheil/vendor_solution/items/kind',
      :solution=>solution,
      :items=>designs,
      :kind_cn=>'设计' unless designs.empty?
    %>
    <%products=solution.products%>
    <%=render 'solutions/cheil/vendor_solution/items/kind',
      :solution=>solution,
      :items=>products,
      :kind_cn=>'制作' unless products.empty?
    %>
    <%trans=solution.trans%>
    <%=render 'solutions/cheil/vendor_solution/items/kind',
      :solution=>solution,
      :items=>trans,
      :kind_cn=>'运输' unless trans.empty?
    %>
    <%others=solution.others%>
    <%=render 'solutions/cheil/vendor_solution/items/kind',
      :solution=>solution,
      :items=>others,
      :kind_cn=>'其他' unless others.empty?
    %>
  </tbody>
</table>
<%=render 'solutions/vendor/items/total',:solution=>solution,:total=>total%>

