<%
  #payers/index/_content
#payers
%>
<table class="table">
  <tbody>
    <tr>
      <th>名称</th>
      <th></th>
    </tr>
    <%n=1
    payers.each do |e|%>
      <tr class="<%=['odd','even'][(n+=1)%2]%>">
        <td>
          <%= e.name  %>
        </td>
        <td class="last">
          <%= link_to '修改', edit_payer_path(e) %>
          |
          <%= link_to '删除', e, confirm: '确定删除吗?', method: :delete %>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
<%= link_to '新建', new_payer_path %>

