<%=form_tag update_many_solution_items_path(:solution_id=>@solution.id),:method=>:put do%>
  <table class="">
    <tr>
      <th>序号</th>
      <th>名称</th>
      <th>数量</th>
      <th>说明</th>
      <th>类型</th>
    </tr>
    <%n=0
      @items.each do |e|%>
      <tr>
        <td><%=n+=1%></td>
        <td><%=text_field_tag (s="solution_item[name_#{e.id}]"),e.name%></td>
        <td><%=text_field_tag (s="solution_item[quantity_#{e.id}]"),e.quantity%></td>
        <td><%=text_field_tag (s="solution_item[note_#{e.id}]"),e.note%></td>
        <td>
          <select name="<%="solution_item[kind_#{e.id}]"%>" size="1">
            <option value="tran" label="tran" <%='selected' if e.kind == 'tran'%>>
            运输
            </option>
            <option value="other" label="other" <%='selected' if e.kind == 'other'%>>
            其他
            </option>
          </select> 
        </td>
      </tr>
    <%end%>
  </table>
  <%=button_tag(:type=>:submit,:id=>'b1',:name=>'save_many') do%>
    <%='保存'%>
  <%end%>
  &nbsp;&nbsp;
  <%=link_to '取消',vendor_solution_path(@solution)%>
<%end%>

