<%unless (attaches = @brief.attaches).empty?%>
  <div class="block">
    <div class="content">
      <h2 class="title">附件</h2>
      <div class="inner">
        <table class="table">
          <tbody>
            <tr>
              <th>文件名</th>
              <th>创建时间</th>
              <th>更新时间</th>
              <th></th>
            </tr>
            <%n=1
            attaches.each do |e|%>
              <tr class="<%=['odd','even'][(n+=1)%2]%>">
                <td>
                  <%if e.op.read?(@cur_user.id)%>
                    <%= e.attach_file_name  %>
                  <%else%>
                    <span style="<%=unread_color%>"><%= e.attach_file_name  %></span>
                  <%end%>
                </td>
                <td><%=short_d(e.created_at)%></td>
                <td><%=short_d(e.updated_at)%></td>
                <td class="last">
                  <%=link_to '下载',download_attach_path(e)%> 
                  |
                  <%=link_to '更新',edit_attach_path(e)%> 
                  |
                  <%=link_to '删除',attach_path(e),:confirm => '确定要删除吗?', :method => :delete %>
                </td>
              </tr>
            <%end%>
          </tbody>
        </table>
        <%=link_to '新建附件', new_attach_path(:brief_id=>@brief.id)%>
      </div>
    </div>
  </div>
<%end%>
