<table class="table">
  <tbody>
    <tr>
      <th>id</th>
      <th>名称</th>
      <th>期限</th>
      <th>创建时间</th>
      <th>更新时间</th>
    </tr>
    <%n=1
    @briefs.each do |brief| -%>
      <tr class="<%=['odd','even'][(n+=1)%2]%>">
        <td><%=brief.id%></td>
        <td><%=link_to brief_name(brief),brief_path(brief)%></td>
        <td><%=brief.deadline%></td>
        <td><%=short_d(brief.created_at)%></td>
        <td><%=short_d(brief.updated_at)%></td>
      </tr>
    <%end -%>
  </tbody>
</table>
<%= paginate @briefs %>

