<%
  #solutions/cheil/cheil_solution/_links
#solution
%>
<br/>
<%= link_to '新建附件', new_attach_path(:solution_id=>solution.id)%>
|
<%= link_to '新建运输项', new_item_path(:solution_id=>solution.id,:kind=>'tran')%>
|
<%= link_to '新建其他项', new_item_path(:solution_id=>solution.id,:kind=>'other')%>
|
<%= link_to '新建评论', new_comment_path(:solution_id=>solution.id)%>
<%if solution.brief.status < 2%>
  |
  <%= link_to '提交方案给RPM',send_to_rpm_solution_path(solution),:method=>:put,:confirm=>'确定吗？'%>
<%end%>
<%if solution.approved?%>
  |
  确认时间:<%=short_d(solution.approved_at)%>
<%end%>
<%if solution.brief.status == 3%>
  |
  <%= link_to '完成',finish_solution_path(solution),:method=>:put,:confirm=>'确定吗？'%>
<%end%>
<%if solution.brief.status == 4%>
  |
  <%= link_to '取消完成',unfinish_solution_path(solution),:method=>:put,:confirm=>'确定吗？'%>
<%end%>
<h2 class="title"><%=brief_name(solution.brief)%></h2>
